.change-color {

    &__container {

        &-col {
            padding: 0;
        }
    }

    &__description {
        margin: 0 0 20px;
        font-size: 16px;
    }

    &__button {
        position: relative;
        width: 45px;
        border-radius: $radius-button;
        height: 45px;
        border: 2px solid $white;
        outline: none;
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 1px 1px rgb(210, 210, 210);
        box-shadow: 1px 1px 1px 1px rgb(210, 210, 210);


        &:focus,
        &:active {
            border: 2px solid #5e2750;
        }


        &--bg-gold {
            background: rgb(248, 231, 220);
            background: -moz-linear-gradient(top, rgba(248, 231, 220, 1) 0%, rgba(248, 231, 220, 1) 50%, rgba(247, 216, 197, 1) 54%, rgba(248, 231, 220, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(248, 231, 220, 1) 0%, rgba(248, 231, 220, 1) 50%, rgba(247, 216, 197, 1) 54%, rgba(248, 231, 220, 1) 100%);
            background: linear-gradient(to bottom, rgba(248, 231, 220, 1) 0%, rgba(248, 231, 220, 1) 50%, rgba(247, 216, 197, 1) 54%, rgba(248, 231, 220, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e7dc', endColorstr='#f8e7dc', GradientType=0);
        }

        &--bg-silver {
            background: rgb(225, 226, 227);
            background: -moz-linear-gradient(top, rgba(225, 226, 227, 1) 1%, rgba(225, 226, 227, 1) 50%, rgba(208, 217, 226, 1) 54%, rgba(225, 226, 227, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(225, 226, 227, 1) 1%, rgba(225, 226, 227, 1) 50%, rgba(208, 217, 226, 1) 54%, rgba(225, 226, 227, 1) 100%);
            background: linear-gradient(to bottom, rgba(225, 226, 227, 1) 1%, rgba(225, 226, 227, 1) 50%, rgba(208, 217, 226, 1) 54%, rgba(225, 226, 227, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e2e3', endColorstr='#e1e2e3', GradientType=0);
        }

        &--bg-space-grey {
            background: rgb(35, 35, 36);
            background: -moz-linear-gradient(top, rgba(35, 35, 36, 1) 2%, rgba(35, 35, 36, 1) 50%, rgba(24, 24, 35, 1) 54%, rgba(35, 35, 36, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(35, 35, 36, 1) 2%, rgba(35, 35, 36, 1) 50%, rgba(24, 24, 35, 1) 54%, rgba(35, 35, 36, 1) 100%);
            background: linear-gradient(to bottom, rgba(35, 35, 36, 1) 2%, rgba(35, 35, 36, 1) 50%, rgba(24, 24, 35, 1) 54%, rgba(35, 35, 36, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232324', endColorstr='#232324', GradientType=0);
        }
    }
}
