html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}


h1 {
  margin: 5% auto 0;
  color: red;
  text-align: center;
}


body {
  background: url(../images/bg.jpg);
}
