.change-capacity {

    &__container {

        &-col {
            padding: 0;
        }
    }

    &__description {
        margin: 0 0 20px;
    }

    &__button {
        position: relative;
        width: 45px;
        border-radius: $radius-button;
        height: 45px;
        border: 2px solid $white;
        outline: none;
        cursor: pointer;
        -webkit-box-shadow: 1px 1px 1px 1px rgb(210,210,210);
        box-shadow: 1px 1px 1px 1px rgb(210,210,210);
        background-color: $grey-light;

        &:focus {
            border: 2px solid  #5e2750;
        }
    }
}
