.panel {
    background: $grey-light;
    margin: 85px 0 0;

    &__description {
        margin: 20px 0 0 0;
        padding: 25px 0;
    }

    &__border-style {
        position: relative;

        &:after {
            height: 95px;
            content: "";
            position: absolute;
            right: -6px;
            border-right: solid #cacaca 1px;
            top: 0px;
        }
    }

    &__price {
        font-weight: bold;
        font-size: 30px;
        color: $primary-color;
    }
}
